<template>
  <q-page class="row justify-center">
    <div class="row full-width justify-center items-center">
      <img height=35 alt="Quasar logo" src="~assets/worthy-color.svg">
    </div>
    <div class="row full-height">
      <p class="text-italic">Your component here</p>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex'
}
</script>
